:root {
  --text-color: #444;
  --bkg-color: #eee;
}

body {
  background: var(--bkg-color);
  color: var(--text-color);
}

body.dark {
  --text-color: #eee;
  --bkg-color: #444;
}

button {
  background: var(--bkg-color);
  color: var(--text-color);
  border: 1px solid var(--text-color);
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
}
